.header {
  grid-area: header;
}

.banner {
  grid-area: banner;
}

.sidebar {
  grid-area: sidebar;
}

.footer {
  grid-area: footer;
}

.status {
  grid-area: status;
}

.filter {
  grid-area: filter;
}

.expenseList {
  grid-area: expenseList;
}

.graph {
  grid-area: graph;
}

.grid-container {
  min-height: 100vh;
  display: grid;
  gap: 5px;
  grid-template:
    "header   header      header" 5%
    "banner   banner      banner" auto
    "sidebar  status      status" 10%
    "sidebar  filter      filter" 10%
    "sidebar  expenseList graph " auto
    "footer   footer      footer" 15%/
    20% auto 30%;
}

.grid-container > * {
  display: flex;
  border-radius: 4px;
  justify-content: center;
  background-color: white;
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.25);
}
